.js-plotly-plot .plotly .modebar {
  padding-top: 5%;
  margin-right: 3.5%;
}

body {
  background-color: #f2f2f2;
  margin: 5%;
}

.two.columns {
  width: 16.25%;
}

.column,
.columns {
  margin-left: 0.5%;
}

.pretty_container {
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}

.mini_container {
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}

.bare_container {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.dcc_control {
  margin: 0;
  padding: 5px;
  width: calc(100%-40px);
}

.flex-display {
  display: flex;
}

.container-display {
  display: flex;
}

#stacked_graph {
  position: absolute;
  height: calc(100% - 30px);
  width: calc(100% - 30px);
}

#scatter_graph {
  position: absolute;
  height: calc(100% - 30px);
  width: calc(100% - 30px);
}

#title {
  text-align: center;
}

#right-column {
  display: flex;
  flex-direction: column;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}